@import url("photographer.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Settings --------------------------------- */

body {
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* height: 90px; */
  margin-top: 42px;
}

h1 {
  color: #901c1c;
  font-size: 36px;
  margin-right: 100px;
}

a,
a:visited {
  text-decoration: none;
}

/* ------main ------------------------------------------ */

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2,
.photograph-header h1 {
  color: #d3573c;
  font-size: 36px;
  text-align: center;
  font-weight: 400;
}

.photograph-header h1 {
  font-size: 64px;
}

.photographer_section article h3,
.photograph-header h3 {
  color: #d3573c;
  font-size: 13px;
  font-weight: 400;
}

.photograph-header h3 {
  font-size: 24px;
}

.photographer_section article h4 {
  color: #757575;
  font-size: 9px;
  font-weight: 400;
}

.photographer_section article p,
.photograph-header p {
  color: #000;
  font-size: 10px;
  font-weight: 400;
}

.photograph-header p {
  font-size: 18px;
}

.photographer_section a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section img,
.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 150px;
  object-fit: cover;
}

.photograph-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.photograph-header-info {
  padding-left: 50px;
}
.photograph-header-info h3 {
  margin-bottom: 15px;
}

/* *------buton de tri ------------- */
.photograph-tri form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 100px 48px;
  height: 60px;
}

.photograph-tri label {
  font-size: 18px;
  font-weight: 700;
  margin-right: 25px;
}

.photograph-tri select {
  background-color: #901c1c;
  color: #fff;
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
}

.photo-container {
  margin: 0 100px 50px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
}

.photo-container img,
.photo-container video {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  aspect-ratio: 1/1;
}

.photo-card-info {
  display: flex;
  justify-content: space-between;
  color: #901c1c;
  font-size: 24px;
  font-weight: 400;
}

.photo-card-info i {
  cursor: pointer;
  font-size: 21px;
  margin-left: 10px;
}

/* *----LIKE-CARD--------------------------- */

.like-card {
  position: fixed;
  bottom: -1px;
  right: 5%;
  height: 74px;
  width: 376px;
  border-radius: 5px;
  background: #db8876;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

/* ------------ */
/* -----LIGHT BOX ----------------------- */
/* ------------ */

.lightbox-modal {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
  display: none;
  justify-content: center;
  align-items: center;
}

.lightbox-modal > i {
  color: #901c1c;
  font-size: 70px;
  position: absolute;
  top: 10%;
  right: 10%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.btn-left {
  color: #901c1c;
  font-size: 62px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateX(-50%);
  cursor: pointer;
}

.btn-right {
  color: #901c1c;
  font-size: 62px;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateX(-50%);
  cursor: pointer;
}

.lightbox-photo img,
.lightbox-photo video {
  max-width: 80vw;
  max-height: 80vh;
}

.lightbox-photo h3 {
  font-size: 24px;
  color: #901c1c;
}
